* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

main {
    display: flex;
}

.verificador-section {
    height: 100vh;
    width: 55vw;
    background-color: #16161a;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: background-color 0.3s ease-in-out;
}

.verificador-section h1 {
    color: #fffffe;
    font-size: 50px;
    text-align: center;
    position: relative;
    bottom: 15px;
}

.verificador-section label {
    color: #fffffe;
    font-size: 22px;
}

.verificador-section input {
    width: 80%;
    padding: 20px 70px 10px 20px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #fffffe;
    background-color: transparent;
    color: #fffffe;
    outline: none;
    font-size: 17px;
}

#seguranca-status {
    color: #fffffe;
    padding: 10px 20px;
    position: absolute;
    bottom: 195px;
    font-size: 22px;
}

.gerador-section {
    height: 100vh;
    width: 45vw;
    background-color: rgb(36, 93, 72);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gerador-section h1 {
    color: #fffffe;
    font-size: 50px;
    text-align: center;
    position: relative;
    bottom: 15px;
}

.gerador-section label {
    color: #fffffe;
    font-size: 22px;
}

.gerador-section input {    
    width: 50%;
    padding: 20px 70px 10px 20px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #fffffe;
    background-color: transparent;
    color: #fffffe;
    outline: none;
    font-size: 17px;
}

#gerar {
    color: #fffffe;
    background-color: transparent;
    border: 2px solid #fffffe;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
    position: absolute;
    bottom: 230px;
}

#gerar:active {
    transform: scale(0.95);
}

#senha-gerada {
    color: #fffffe;
    position: absolute;
    top: 525px;
    text-align: center;
    font-size: 18px;
    width: 300px;
    max-height: 150px;
    overflow-y: auto;
    overflow-wrap: break-word;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .verificador-section, .gerador-section {
        width: 100vw;
        height: 100vh;
    }

    #gerar {
        position: relative;
        bottom: auto;
        margin-top: 20px;
    }

    #senha-gerada {
        position: relative;
        top: auto;
        margin-top: 20px;
    }

    #seguranca-status {
        position: relative;
        bottom: auto;
        margin-top: 20px;
    }
    
}